@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container container-content">
    <div class="row margin-bottom-40">
        <div class="col-lg-12 text-align-center">
            <h1>Crypto currencies list</h1>
        </div>
    </div>
    @if (TempData["Error"] != null) {
    <div class="row text-align-center">
        <div class="col-lg-12">
            <div class="alert alert-danger">@TempData["Error"]</div>
        </div>
    </div>
    }
    @if (TempData["Success"] != null) {
    <div class="row text-align-center">
        <div class="col-lg-12">
            <div class="alert alert-success">@TempData["Success"]</div>
            </div>
    </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <table data-toggle="table" data-pagination="true">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Currency</th>
                        <th>Base currency</th>
                        <th>Market name</th>
                        <th>Trade size (min.)</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var currency in (dynamic)(@ViewData["Currencies"])) {
                    <tr>
                        <td data-valign="middle">
                            <img class="img-responsive img-table" src="@currency.LogoUrl">
                        </td>
                        <td data-valign="middle">@currency.MarketCurrencyLong</td>
                        <td data-valign="middle">@currency.BaseCurrencyLong</td>
                        <td data-valign="middle">@currency.MarketName</td>

                        <td data-valign="middle">@currency.MinTradeSize</td>
                        <td data-valign="middle">
                            @if (currency.IsActive) {
                                <span class="label label-success">Actived</span>
                            } else {
                                <span class="label label-danger">Desactivated</span>
                            }
                        </td>
                        <td>
                            <a asp-controller="Currencies" asp-action="Details" asp-route-Identifier="@currency.MarketName">Show currency</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>